PropertyAgency.API/obj/
PropertyAgency.DAL/obj/
PropertyAgency.Domain/obj/
/PropertyAgency.API/obj
/PropertyAgency.API/obj
/PropertyAgency.API/obj
/PropertyAgency.API/obj/Debug
/PropertyAgency.API/obj
/Services/obj
/Services/obj
/Services/obj
/PropertyAgency.API/bin
/PropertyAgency.API/bin
/PropertyAgency.API/bin
/PropertyAgency.API/bin
/PropertyAgency.API/bin
/PropertyAgency.API/bin
/PropertyAgency.API/bin
/PropertyAgency.API/bin
PropertyAgency.API/demo.db
PropertyAgency.API/demo.db-shm
PropertyAgency.API/demo.db-wal
PropertyAgency.API/Dtos/AddressDto.cs
PropertyAgency.API/Dtos/PropertyDto.cs
PropertyAgency.API/Dtos/UserDto.cs
PropertyAgency.API/obj/Debug/net8.0/PropertyAgency.API.AssemblyInfoInputs.cache
PropertyAgency.API/obj/Debug/net8.0/PropertyAgency.API.assets.cache
PropertyAgency.API/obj/Debug/net8.0/PropertyAgency.API.csproj.AssemblyReference.cache
PropertyAgency.API/obj/Debug/net8.0/PropertyAgency.API.csproj.CoreCompileInputs.cache
PropertyAgency.API/obj/Debug/net8.0/PropertyAgency.API.csproj.FileListAbsolute.txt
PropertyAgency.API/obj/Debug/net8.0/PropertyAgency.API.dll
PropertyAgency.API/obj/Debug/net8.0/PropertyAgency.API.GeneratedMSBuildEditorConfig.editorconfig
PropertyAgency.API/obj/Debug/net8.0/PropertyAgency.API.genruntimeconfig.cache
PropertyAgency.API/obj/Debug/net8.0/PropertyAgency.API.pdb
PropertyAgency.API/obj/Debug/net8.0/PropertyAgency.API.sourcelink.json
PropertyAgency.API/obj/Debug/net8.0/ref/PropertyAgency.API.dll
PropertyAgency.API/obj/Debug/net8.0/refint/PropertyAgency.API.dll
PropertyAgency.API/obj/project.assets.json
PropertyAgency.API/obj/project.nuget.cache
PropertyAgency.API/obj/project.packagespec.json
PropertyAgency.API/obj/PropertyAgency.API.csproj.nuget.dgspec.json
PropertyAgency.API/obj/rider.project.model.nuget.info
PropertyAgency.API/obj/rider.project.restore.info
/PropertyAgency.DAL/bin
/PropertyAgency.DAL/bin
/PropertyAgency.DAL/bin
/PropertyAgency.DAL/bin
