.right-enter {
    opacity: 0;
    transform: translate3d(-16px, 0, 0);
}

.right-leave-active {
    opacity: 0;
    transform: translate3d(16px, 0, 0);
}

.right-enter-active,
.right-leave-active {
    transition: opacity .5s ease, transform .5s ease;
}
