.UiPasswordInput {
    position: relative;
    width: 100%;

    $input: &;

    &__input {
        width: 100%;
    }

    &.--is-large {
        #{$input} {
            &__input {
                &.UiInput.--large-size {
                    padding-right: mul($unit, 10);
                }
            }

            &__icon {
                width: mul($unit, 6);
                height: mul($unit, 6);
            }
        }
    }

    &.--is-outline {
        #{$input} {
            &__icon {
                transform: translate3d(0, calc(-50% - 8px), 0);
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: mul($unit, 4);
        transform: translate3d(0, -50%, 0);
        transition: all .3s ease;
        cursor: pointer;
    }

    &.--is-grey {
        #{$input} {
            &__icon {
                //color: $blue-gray-90;

                @include hover {
                    //color: $violet;
                }
            }
        }

        &.--is-visible {
            #{$input} {
                &__icon {
                    //color: $violet;
                }
            }
        }
    }
}
